<div>
  <div class="pt-6">
    <div class="flex flex-col items-start gap-2 debug">
      <div class="flex flex-row md:flex-col items-center md:items-start w-full gap-4">
        <img width="150" height="150" quality="{100}" src="https://avatars.githubusercontent.com/u/10008708?v=4"
          alt="Profile Picture" class="rounded-full size-12 md:w-full h-auto object-cover border-2" />
        <div class="flex flex-col items-start justify-center">
          <h1 class="font-bold md:mt-4 text-xl md:text-2xl debug">
            Alejandro Amaral
          </h1>
          <p class="text-sm md:text-base text-muted-foreground">
            Solopreneur Developer
          </p>
        </div>
      </div>
      <p class="mt-2 text-start text-sm text-muted-foreground">
        I am a solopreneur developer with a passion for building products that
        solve real-world problems.
      </p>
      <button class="mt-4 w-full" asChild>
        <a target="_blank" href="/resume.pdf" class="font-semibold">
          CONTACT ME
        </a>
      </button>
      <div class="mt-4 flex flex-col space-y-2 border-t border-border pt-4 w-full">
        <a key="{i}" href="{s.link}" target="_blank" aria-label="{`${s.name}" Logo`}
          class="cursor-pointer flex items-center gap-2 group">
          {s.icon}
          <p class="text-sm text-muted-foreground group-hover:text-primary transition-color duration-200 ease-linear">
            /{username}
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
