<div class="p-4 rounded-md">
  <div class="pt-2">
    <div class="flex flex-row gap-4 items-center">
      <img src="https://avatars.githubusercontent.com/u/10008708?v=4"
        class="w-16 rounded-full border-2 border-slate-800 m-0 p-0" alt="avatar" />
      <div>
        <h1 class="font-semibold text-xl">Alejandro Amaral</h1>
        <h2 class="text-slate-500">System Analyst</h1>
      </div>
    </div>
  </div>
  <div class="mt-6">
    <p class="text-sm text-slate-500">
      Hola, soy Alejandro (aka Jano), analista de sistemas con más de 13 años de experiencia
      poniendo productos digitales en producción.
    </p>
  </div>
  <div class="mt-6">
    <a href="contact.html" class="bg-slate-950 w-full block text-center p-2
    rounded-md text-slate-50 uppercase font-bold text-sm dark:bg-slate-200
    dark:text-slate-900">Contacto</a>
  </div>
</div>
