---
layout: default
---

<header class="flex-col align-center text-center masthead">
  <div>
    <img class="rounded-full avatar" src="https://avatars.githubusercontent.com/u/10008708?v=4" />
    <h1>
      Alejandro Amaral
    </h1>
  </div>
  <div>
    <p>
    Hola, soy Alejandro (aka Jano), analista de sistemas con más de 13 años de experiencia 
    poniendo productos digitales en producción.
    </p>
  </div>
</header>

<section>
  {% for post in site.posts limit:5 %}
    <a class="post-card"href={{post.url}}>
      <div style="padding:0 1rem">
        <small class="date">{{post.date | date: "%B %d, %Y"}}</small>
        <h2>{{post.title}}</h2>
        <p>
          {{post.excerpt | truncate: 450}}
        </p>
        <div class="more">Leer más</div>
      </div>
    </a>
  {% endfor %}
</section>
